{% extends "base.html" %}
{% block content %}

<div class="buy-form">
    <h3>Buy</h3>
    <h5>|ASSET: {{asset_name}}| |PRICE: {{asset_price}}|</h5>
    <br>
    <form method="POST">

        <div class="form-group">
            <label for="qty">Qty</label>
            <input type="text" id="qty" name="qty">
            <p id="total_price"></p>
        </div>
        <div class="form-group">
            <label for="card_info">Credit Card Number</label>
            <input type="password" name="credit_card_number">
        </div>
        <input type="submit" value="Buy">

    </form>
</div>






{% endblock %}