{% extends "base.html" %}
{% block content %}
<h1>Market</h1>
<form method="POST">
    <div class="form-group">
        <label for= "asset_type">Asset Type</label>
        <br>
            <select name="asset_type" id="asset_type">
                    <option value=""></option>
                    <option value="cryptocurrency">Cryptocurrency</option>
                    <option value="commodities">Commodities</option>
                    <option value="stocks">Stocks</option>
                    <option value="alternative">Alternative</option>
            </select>
            
            <button type="submit">Enter</button>
    </div>

    
    <table>
    {% for x in asset_prices %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{x[0]}}</td>
            <td>{{x[1]}}</td>
            <td>{{x[2]}}</td>
            
            <td><a href="{{ url_for('transaction.buy',asset_name=x[0], asset_price = x[1], asset_type=x[2]) }}">Buy</a></td>
            <td><a href="{{ url_for('transaction.sell',asset_name=x[0], asset_price= x[1], asset_type=x[2]) }}">Sell</a></td>
        </tr>
    
    {% endfor %}
</table>
    
</form>

{% endblock %}