{% extends "base.html" %}
{% block content %}
<h1>Market</h1>
<form method="POST">
    <div class="form-group">
        <label for= "asset_type">Asset Type</label>
        <br>
            <select name="asset_type" id="asset_type">
                    <option value="all">All</option>
                    <option value="cryptocurrency">Cryptocurrency</option>
                    <option value="fiat">Fiat</option>
                    <option value="commodities">Commodities</option>
                    <option value="stocks">Stocks</option>
                    <option value="alternative">Alternative</option>
            </select>
            
            <button type="submit">Submit</button>
    </div>
    
</form>



{% for x in crypto_prices %}
    <p>{{x[0]}} ${{x[1]}}</p>
{% endfor %}

{% endblock %}