{% extends "base.html" %}
{% block content %}

<br>
    <form method="POST">
        <h5 align="center">Enter email to recieve verification code</h5>
        <br>
        <div class="form-group">
        
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email" 
                placeholder="Enter email"
            />
        </div>
        <button type="submit" class="btn btn-primary" >Enter</button>
    </form>
{%endblock%}